.diario-page-main {
  font-family: "DotGothic16", sans-serif;
  color: #1F3BE9;
  padding: 0.5rem;
}

.diario-page-title {
  text-align: center;
  font-size: 4rem;
  margin-top: 5%;
}

.diario-page-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  align-items: center;
  padding-right: 2rem; 
}

.filter-icon {
  margin-right: 0; 
  width: 40px;
  height: auto;
}


@media (max-width: 768px) {
  .diario-page-title {
    font-size: 2.5rem;
    margin-top: 10%;
  }

  .diario-page-header {
    padding: 0 5%;
  }

  .filter-icon {
    width: 24px;
    height: auto;
    margin-right: 0;
  }

  
}
